{% extends 'base.html' %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}
{% comment %} 
위에는 단순히 base.html에서 serarch-bar을 표시하니까 ! base.html에서의 결과를 안보여되니 숨기기
대신 밑에 form에서 다시 하면서 여기서 나타낸다.
nav부분에서는 단순히 city로만 검색하니까 !! 상세검색을 search.html에서 진행하니 밑에처럼
{% endcomment %}

{% block content %}

<form method="get" action="{% url "rooms:search" %}">
    {{form.as_p}}
    <button>Search</button>
</form>

<h3>Results</h3>

{% for room in rooms %}
    <h4>{{room.name}}</h4>
{% endfor %}

<h4>search!</h4>

<h4>Searching by {{city}}</h4>

{% endblock content %}